name: Publish S6 Images
# TODO: Tag and push the base image

on:
  push:
    branches:
      - latest
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 1 * * *'
  workflow_dispatch:

env:
  COLORTERM: 'yes'
  TERM: 'xterm-256color'
  PYTEST_ADDOPTS: '--color=yes'

jobs:
  s6-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set version
        run: |
          version="${GITHUB_REF#refs/heads/}"
          echo "Building and publishing $version."
          echo "VERSION=$version" >> $GITHUB_ENV

      - uses: actions/setup-python@v3
        with:
          python-version: "3.8"

      - name: Install python dependencies
        if: github.event_name == 'schedule'
        run: |
          echo ::group::PYDEPS
          pip install gitpython requests packaging jinja2 pyyaml
          echo ::endgroup::

      - name: Dispatching
        if: github.event_name == 'schedule'
        run: python .ci/scripts/update_ci_branches.py
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

      - name: Install httpie and podman-compose
        run: |
          echo ::group::HTTPIE
          sudo apt-get update -yq
          sudo -E apt-get -yq --no-install-suggests --no-install-recommends install httpie
          echo ::endgroup::
          echo "HTTPIE_CONFIG_DIR=$GITHUB_WORKSPACE/.ci/assets/httpie/" >> $GITHUB_ENV
          echo "IMAGE_TAG=${{ matrix.image_tag }}" >> $GITHUB_ENV
          pip install podman-compose
        shell: bash

      - name: Build the images
        run: |
          # In order to maintain compatibility with the old "pulp-minimal" images,
          # which on some registries were "pulp", we label "pulp:latest" as "pulp:stable".

          podman build --file images/Containerfile.core.base --tag pulp/base:latest .

          podman build --file images/pulp_ci_centos/Containerfile --tag pulp/pulp-ci-centos:latest .
          podman tag pulp/pulp-ci-centos:latest ghcr.io/pulp/pulp-ci-centos:latest
          podman tag pulp/pulp-ci-centos:latest quay.io/pulp/pulp-ci-centos:latest
          podman tag pulp/pulp-ci-centos:latest docker.io/pulp/pulp-ci-centos:latest

          podman build --file images/pulp/Containerfile --tag pulp/pulp:$VERSION .
          podman tag pulp/pulp:$VERSION ghcr.io/pulp/pulp:$VERSION
          podman tag pulp/pulp:$VERSION quay.io/pulp/pulp:$VERSION
          podman tag pulp/pulp:$VERSION docker.io/pulp/pulp:$VERSION
          if [ "$VERSION" = "latest" ]; then
            podman tag pulp/pulp:latest ghcr.io/pulp/pulp:stable
            podman tag pulp/pulp:latest quay.io/pulp/pulp:stable
            podman tag pulp/pulp:latest docker.io/pulp/pulp:stable

            podman build --file images/pulp_galaxy_ng/Containerfile --tag pulp/pulp-galaxy-ng:latest .
            podman tag pulp/pulp-galaxy-ng:latest ghcr.io/pulp/pulp-galaxy-ng:latest
            podman tag pulp/pulp-galaxy-ng:latest quay.io/pulp/pulp-galaxy-ng:latest
            podman tag pulp/pulp-galaxy-ng:latest docker.io/pulp/pulp-galaxy-ng:latest

            # Be resilient if this fails
            podman build --file images/pulp_nightly/Containerfile --tag pulp/pulp:nightly . || true
            podman tag pulp/pulp:nightly ghcr.io/pulp/pulp:nightly || true
            podman tag pulp/pulp:nightly quay.io/pulp/pulp:nightly || true
            podman tag pulp/pulp:nightly docker.io/pulp/pulp:nightly || true
          else
            podman tag pulp/pulp-ci-centos:latest pulp/pulp-ci-centos:$VERSION
            podman tag pulp/pulp-ci-centos:latest ghcr.io/pulp/pulp-ci-centos:$VERSION
            podman tag pulp/pulp-ci-centos:latest quay.io/pulp/pulp-ci-centos:$VERSION
            podman tag pulp/pulp-ci-centos:latest docker.io/pulp/pulp-ci-centos:$VERSION
          fi
      - name: Test the images in s6 mode
        run: |
          images/s6_assets/test.sh "pulp/pulp:$VERSION"
          podman stop pulp
          podman rm pulp
        shell: bash
      - name: Test the images in s6 mode with https
        run: |
          # Delete the database from the previous test 1st, so test.sh does not fail
          sudo rm -rf pgsql/data
          images/s6_assets/test.sh "pulp/pulp:$VERSION" https
          podman stop pulp
          podman rm pulp
        shell: bash
      - name: Compose up (pulp)
        run: |
          cd images/compose
          sed -i "s/pulp-minimal:latest/pulp:${VERSION}/g" docker-compose.yml
          sed -i "s/pulp\/pulp-web/quay.io\/pulp\/pulp-web/g" docker-compose.yml
          id | grep "(root)" || sudo usermod -G root $(whoami)
          podman-compose up -d
          sleep 30
          for _ in $(seq 20)
          do
            sleep 3
            if curl --fail http://localhost:8080/pulp/api/v3/status/ > /dev/null 2>&1
            then
              break
            fi
          done
          curl --fail http://localhost:8080/pulp/api/v3/status/ | jq
        shell: bash
      - name: Test all components (pulp)
        run: |
          git clone --depth=1 https://github.com/pulp/pulp_ansible.git
          git clone --depth=1 https://github.com/pulp/pulp_container.git
          .ci/scripts/pulp_tests.sh
        shell: bash
        env:
          PY_COLORS: '1'
      - name: Reset docker-compose environment
        run: |
          if [ "$VERSION" = "latest" ]; then
            cd images/compose
            podman-compose down -v
            git checkout docker-compose.yml
          fi
      - name: Compose up (galaxy)
        run: |
          if [ "$VERSION" = "latest" ]; then
            cd images/compose
            sed -i "s/pulp-minimal:latest/pulp-galaxy-ng:${VERSION}/g" docker-compose.yml
            sed -i "s/pulp\/pulp-web/pulp\/galaxy-web/g" docker-compose.yml
            id | grep "(root)" || sudo usermod -G root $(whoami)
            podman-compose up -d
            sleep 30
            for _ in $(seq 20)
            do
              sleep 3
              if curl --fail http://localhost:8080/pulp/api/v3/status/ > /dev/null 2>&1
              then
                break
              fi
            done
            curl --fail http://localhost:8080/pulp/api/v3/status/ | jq
          fi
      - name: Test all components (galaxy)
        run: |
          if [ "$VERSION" = "latest" ]; then
            .ci/scripts/galaxy_ng-tests.sh
          fi
        shell: bash
        env:
          PY_COLORS: '1'
      - name: Github login
        env:
          PULP_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULP_GITHUB_USERNAME: ${{ github.actor }}
        run: echo "$PULP_GITHUB_TOKEN" | podman login -u "$PULP_GITHUB_USERNAME" --password-stdin ghcr.io
      - name: Push images to github
        run: |
          podman push ghcr.io/pulp/pulp:$VERSION
          podman push ghcr.io/pulp/pulp-ci-centos:$VERSION
          if [ "$VERSION" = "latest" ]; then
            podman push ghcr.io/pulp/pulp:stable
            podman push ghcr.io/pulp/pulp-galaxy-ng:latest
            # Be resilient if this fails
            podman push ghcr.io/pulp/pulp:nightly || true
          fi
      - name: Docker login
        env:
          DOCKER_BOT_PASSWORD: ${{ secrets.DOCKER_BOT_PASSWORD }}
          DOCKER_BOT_USERNAME: ${{ secrets.DOCKER_BOT_USERNAME }}
        run: echo "$DOCKER_BOT_PASSWORD" | podman login -u "$DOCKER_BOT_USERNAME" --password-stdin docker.io
      - name: Push images to dockerhub
        run: |
          podman push docker.io/pulp/pulp:$VERSION
          podman push docker.io/pulp/pulp-ci-centos:$VERSION
          if [ "$VERSION" = "latest" ]; then
            podman push docker.io/pulp/pulp:stable
            podman push docker.io/pulp/pulp-galaxy-ng:latest
            # Be resilient if this fails
            podman push docker.io/pulp/pulp:nightly || true
          fi
      - name: Quay login
        env:
          QUAY_BOT_PASSWORD: ${{ secrets.QUAY_BOT_PASSWORD }}
          QUAY_BOT_USERNAME: ${{ secrets.QUAY_BOT_USERNAME }}
        run: echo "$QUAY_BOT_PASSWORD" | podman login -u "$QUAY_BOT_USERNAME" --password-stdin quay.io
      - name: Push images to quay
        run: |
          podman push quay.io/pulp/pulp:$VERSION
          podman push quay.io/pulp/pulp-ci-centos:$VERSION
          if [ "$VERSION" = "latest" ]; then
            podman push quay.io/pulp/pulp:stable
            podman push quay.io/pulp/pulp-galaxy-ng:latest
            # Let this be the last thing so it can indicate failure without breaking anything else
            podman push quay.io/pulp/pulp:nightly
          fi
      - name: Display log
        if: always()
        run: |
          podman logs pulp || true
          cd images/compose
          podman-compose logs
